
#jMenu {
    display:table;
    margin:0;
    padding:0;
    width:400px;
}

/********************/
/** premier niveau **/
/********************/
#jMenu li {
    display:table-cell;
    margin:0;
}
#jMenu li a {
    padding:14px;
    display:block;
    background-color: transparent;
    color:#FFFFFF;
    text-transform:uppercase;
    cursor:pointer;
    font-size:14px;
    font-family:Arial;
    text-decoration:none;
    padding-left:30px;
}

/*******************/
/** second niveau **/
/*******************/
#jMenu li ul {
    display:none;
    position:absolute;
    padding:0;
    margin:0;
    width:400px;

}
#jMenu li ul li {
    background-color:#FFFFFF ;
    display:block;
    padding:0;
    font-family:Arial;
    opacity:0.9;
    /*filter:alpha(opacity=80);

    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px;*/
    border: thin solid #FFF;
}
#jMenu li ul li.arrow {
    background: url('arrow_down.pn')  no-repeat center center;
    height:6px;
    padding:0;
    border-bottom:none;
    padding-bottom:1px;
    margin-top:10px;


}
#jMenu li ul li a {
    font-size:14px;
    text-transform:none;
    padding:7px;
    display:block;
}
#jMenu li ul li a.isParent {
    background:#999999 url('arrow_right.png') no-repeat right center;
}
#jMenu li ul li a:hover {
    text-decoration: underline;
    /*background-color:#F9F8F7;
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px;
    border: thin solid ;*/
}