#contener {
	height: 1798px;
	width: 1024px;
	border: thin solid #000;
	margin:0 auto;
	padding:0;
	
}

#contener #barra {
	background-color: #231F20;
	height: 50px;
	width: 1024px;
}

#contener #barra .align {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #FFF;
	float: left;
	width: 100%;
	margin-top: 5px;
	margin-left:28px;
}

#contener #header {
	width: 1024px;
	border: thin solid #666;
        height: auto;
}
#contener #header #logo {
	width: 300px;
	margin-top:35px;
	margin-left:28px;
}

#contener #header #logo a{
        text-decoration: none;
}

#contener #banner-principal {
	background-color: #CCC;
	height: 356px;
	width: 777px;
	margin-top: 30px;
	margin-left: 28px;
	float: left;
}

#contener #header #login {
	background-color: #F2F2F2;
	border: thin solid #B3B3B3;
	height: 47px;
	width: 99px;
	margin-right:5px;
	float: right;
}

#contener #header #login a {
	font-family: Arial;
	font-size: 16px;
	color: #333;
	text-decoration: none;
	text-align: center;
	margin-top: 15px;
	float:left;
	margin-left: 25px;
}

#contener #header #login a:hover{
	color:#999999;
}
#contener #busca #search #searchField {
}

#contener #header #cadastro {
	background-color: #F2F2F2;
	border: thin solid #B3B3B3;
	height: 47px;
	width: 99px;
	margin-right:25px;
	float: right;
	
}

#contener #header #cadastro a {
	font-family: Arial;
	font-size: 16px;
	color: #333;
	text-decoration: none;
	text-align: center;
	margin-top: 15px;
	float:left;
	margin-left: 15px;
}

#contener #header #cadastro a:hover{
	color:#999999;
}


#contener #menu {
	background-color: #333;
	height: 47px;
	width: 1024px;
	
}
#contener #busca {
	background-color: #F2F2F2;
	border: thin solid #B3B3B3;
	height: 110px;
	width: 777px;
	margin-top: 15px;
	margin-left: 28px;
	float: left;
	
}
#contener #lista-eventos {
	height: 804px;
	width: 777px;
	background-color: #F2F2F2;
	margin-top: 15px;
	margin-left: 28px;
	border: thin solid #B3B3B3;
	float: left;
}

#contener .barra-lateral {	
	height: 1302px;
	width: 165px;
	margin-right: 25px;
	margin-top: -485px;
	float: right;
	position: relative;	
	overflow:hidden;
}

#contener .barra-lateral ul li {
	margin-bottom: 5px;
	margin-right: 3px;
	float: right;
}
#contener .barra-lateral h1 {
	font-size: 12px;
	float: right;
	margin-right: 3px;
	font-family: Verdana, Geneva, sans-serif;
}

#contener #footer {
	height: 174px;
	width: 1024px;
	margin-top: 1350px;
	background-color: #231F20;
}

 #footer .content {
    display: block;
   /* padding: 20px 35px;*/
    position: relative;
  /*  width: 820px; */
  
}
	 #footer .content .column1 {
		float:left;
		/*margin-right: 10px;*/
		width: 226px;
		height:170px;
		padding:0px 28px;
		width:221px;
	}
	
	 #footer .content .infos {  
	
	}

   #footer .content .visite { 
   		margin-left:-30px;
   		
	
	}

  #footer .content .social { 
  		margin-left:215px;
	
	}


	 #footer .content .last {
		margin-right: 0;
	}
	
	
		 #footer .content .column1 h1 {
			margin-bottom: 5px;
			font-weight: normal;
			letter-spacing:0;
			font-family:Verdana, Geneva, sans-serif;
			font-size:16px;
			color:#FFFFFF;
		 }
		 
		 #footer .content .column1 ul li {
			line-height: 20px;
			margin-left:-39px;
			list-style-type: none;
		 }
			 #footer .content .column1 ul li span{
				padding-left:0px;
				text-decoration: none;
								
			 }
			 #footer .content .column1  ul li a {
				font-size: 14px;
				color: #fff;
				text-decoration: none;
				font-family:Verdana, Geneva, sans-serif;				
			}
	 #footer .content .column1 .news {
		line-height: 20px;
		
	}
		 #footer .content .column1 .news input.text_email {
			border: 1px solid #868a8d;
			float: left;
			font-size: 10px;
			height: 17px;
			margin: 1px 0 0;
			padding: 1px 0 0 0px;
			vertical-align: bottom;
			width: 178px;
			color: #909093;
			
		}
			 #footer .content .column1 .news input.bt-receber { 
				background: url("btn_ok.png") no-repeat scroll left top transparent;
				border: 0 solid;
				cursor: pointer;
				display: block;
				float: left;
				height: 24px;
				margin: 0 0 0 0px;
				text-indent: -9999px;
				width: 26px;
			}
		 #footer .content .news a {
			color: #FFFFFF;
			font-size: 10px;
			font-weight: bold;
			text-decoration: underline;
		}
	 
	
	#footer .content .share {
		margin-top: 0px;
		width:200px;
		margin-left:-250px;
	}
	 #footer .content .share h2 {
		margin: -65px 0 10px 0;
		font-weight: normal;
		font-family:Verdana, Geneva, sans-serif;
		font-size:16px;
		color:#FFFFFF;
	}
	 #footer .content .share ul li {
		float: left;
		height: 36px;
		list-style-type: none;
		margin: 30 0px 0 0;
		width: 150px;
		margin-left:-40px;
	}
        #footer .content .share ul li a {
                display: block;
                height: 36px;
                width: 100px;
                padding: 5px 0 0 30px;
                text-transform: none;
        }
        #footer .content .share ul li a.facebook {
                background: url("facebook.png") no-repeat scroll left top transparent;
        }
        #footer .content .share ul li a.twitter {
                background: url("twitter.png") no-repeat scroll left top transparent;
        }
        #footer .content #assinatura {
	color: #FFFFFF;
    width:290px;
	height:20px;
	margin-left:770px;
	float:left;
	margin-top:-30px;
	font-family:Arial;
	font-size:12px;
}
#footer .content #assinatura p {
	font-size: 12px;
	font-family:Arial;
	text-decoration: none;
}
 #footer .content #assinatura p a{
	color:#FFFFFF;
	font-family:Arial;
	text-decoration: none;
}

#footer .content #assinatura p a:hover{
	color:#999999;
	font-family:Arial;
	text-decoration: underline;
}
        /* FILTERS */
#contener #busca .filtersType{
	float: left;
	padding: 0px 20px 0px;
	width: 492px;
	margin-top:0px;
	font-family:Arial;
	color:#666666;
	font-size:13px;
}
#contener #busca .filtersType .filterList{ float: left; width: 243px; margin-top:20px;}
#contener #busca .filtersType .filterList label{ display: block; margin-bottom: 3px;}
#contener #busca .filtersType .filterList select{ width: 222px; font-family:Arial; color:#666666; font-size:13px;}


			#contener #busca #search {
	margin-top: 20px;
	font-family:Arial; color:#666666; font-size:12px;
	
	
}
#contener #busca #search #searchField {
	font-size: 13px;
	font-family:Arial;
	color:#666666;
	margin-top: 3px;	
}

#contener #busca .filtersType #filterOrder {
	margin-left: 5px;
}
