
<ul id="jMenu">
  <li>
    <a class="fNiv" href="index.html">Home</a>
  </li>
  <li>
    <a class="fNiv">
      Eventos <%= image_tag "seta.png" %>
    </a>
    <ul>
    <li class="arrow"></li>
    <li>
      <a href="showsBoates.html">
        <font color="#E00A0A">Shows/Boates</font>
      </a>
    </li>
    <li>
      <a href="glbt.html">
        <font color="#93278F">GLBT</font>
      </a>
    </li>
    <li><a href="cinema.html"><font color="#231F20">Cinema</font></a></li>
    <li><a href="teatro.html"><font color="#FBB03B">Teatro</font></a></li>
    <li><a href="turismo.html"><font color="#0071BC">Turismo</font></a></li>
    <li><a href="games.html"><font color="#FF0000">Games</font></a></li>
    <li><a href="esportes.html"><font color="#5C8800">Esportes</font></a></li>
    <li><a href="anime.html"><font color="#10829D">Anime</font></a></li>
    <li><a href="cultura.html"><font color="#22B573">Cultura</font></a></li>
    <li><a href="palestras.html"><font color="#754C24">Palestras</font></a></li>
    <li><a href="cursosWorkshops.html"><font color="#808080">Cursos/Workshops</font></a></li>
    <li><a href="religiosos.html"><font color="#FCB73E">Religiosos</font></a></li>
    </ul>
  </li>


<li><a class="fNiv" href="contatos.html">Contatos</a>

</li>
</ul>